.instagram-feed .item-video {
    width: 100%;
    height: 280px;
}

.instagram-feed video {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.img-insta {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .instagram-feed .item-video, .img-insta {
        height: 350px;
    }

}